<div id="contact-form">

<div id="form-wstep">
Skontaktuj się z nami używając poniższego formularza,
a my postaramy się odpisać najszybciej jak to tylko możliwe.
</div>

<%= form_tag 'MAILTO:mcjdzi@gmail.com', method: 'post', enctype: 'text/plain' do %>

<fieldset>

<div class="form-group">
  <%= label_tag :imie, 'Imie/Nick', class: "control-label" %>
  <%= text_field_tag :imie, '', class: "form-control" %>
</div>

<div class="form-group">
  <%= label_tag :email, 'Email', class: "control-label" %>
  <%= text_field_tag :email, '', class: "form-control" %>
</div>

<div class="form-group">
  <%= label_tag :subject, 'Temat', class: "control-label" %>
  <%= text_field_tag :subject, '', class: "form-control" %>
</div>

<div class="form-group">
  <%= label_tag :phone, 'Nr Telefonu', class: "control-label" %>
  <%= text_field_tag :phone, '', class: "form-control" %>
</div>

<div class="form-group">
  <%= label_tag :message, "Wiadomość" %>
  <%= text_area_tag(:message, "", size: "24x6", style: "width: 467px; height: 129px;") %>
</div>

<div class="form-group">
  <div class="col-lg-10 col-lg-offset-2">
    <button type="reset" class="btn btn-default">Anuluj</button>
    <%= submit_tag 'Wyślij', :class => "btn btn-primary" %>
  </div>
</div><!-- /form-group -->
</fieldset>

<% end %><!-- end_form_tag -->

</div><!-- /contact-form -->
