<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'PC REPAIR CENTRE', root_path %>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'home', root_path %></li>
      <li><%= link_to 'o nas', about_path %></li>
      <li><%= link_to 'usługi', service_path %></li>
      <li><%= link_to 'komentarze', comments_path %></li>
      <li><%= link_to 'kontakt', contact_path %></li>
    </ul>
    </nav>
  </div>
</header>
