<header id="sidebar-wrapper">
  <nav>
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><%= link_to 'PC REPAIR CENTRE', root_path %></li>
      <li><%= link_to 'home', root_path %></li>
      <li><%= link_to 'o nas', about_path %></li>
      <li><%= link_to 'usługi', service_path %></li>
      <li><%= link_to 'komentarze', comments_path %></li>
      <li><%= link_to 'kontakt', contact_path %></li>
    </ul>
  </nav>
</header>
