<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="Author" content="Maciej Dziurzyński" />
  <%= render 'layouts/shim'%>
  <%= csrf_meta_tags %>
</head>

<body style="font-family: 'Merriweather Sans', FreeSans, Arial, sans-serif;
             background-color: #1B1B1B;">
  <div id="wrapper">
  <%= render 'layouts/header'%>
    <section id="page-content-wrapper">
      <%= yield %>
    </section>
  <%= render 'layouts/footer'%>
  </div>
</body>
</html>
